<a href="https://colab.research.google.com/github/JavierMedel/Data-Structures-and-Algorithms/blob/master/Algorithms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Recursion

## Factorial

In [ ]:
# Write two functions that finds the factorials of any number.
# One should be recursive, the other should just use a for loop.

In [ ]:
def findFactorialRecursive(value):
  if value == 1:
    return 1
  else:
    return value * findFactorialRecursive(value - 1)

In [ ]:
def findFactorialIterative(value):
  answer = 1

  for i in range(2, value + 1):
    answer = answer * i
  return answer

In [ ]:
findFactorialRecursive(5)

120

In [ ]:
findFactorialIterative(5)

120

## Fibonaci

In [ ]:
# Given a number N return the index value of the Fibonacci sequence,
# where the sequenc is:
# 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ...
# the pattern of the sequence is that each value is the sum of the 2 previus values
# that means that N=5 -> 2+3

In [ ]:
def fibonaciIterative(value): # O(n)
  arr = [0,1]
  for i in range (2, value+1):
    arr.append(arr[i-1] + arr[i-2])

  return arr[value]

In [ ]:
def fibonaciRecursive(value): # O(2^n)
  if value < 2:
    return value
  
  return fibonaciRecursive(value - 1) + fibonaciRecursive(value-2)

In [ ]:
fibonaciRecursive(53)

In [ ]:
fibonaciIterative(53)

21

# Sorting

In [ ]:
basket = [2, 65, 34, 2, 1, 7, 8]

In [ ]:
sorted(basket)

[1, 2, 2, 7, 8, 34, 65]

In [ ]:
spanish = ['único','árbol','cosas','fútbol']

In [ ]:
sorted(spanish)

['cosas', 'fútbol', 'árbol', 'único']

### Bubble Sort

In [ ]:
numbers = [99, 44, 6, 2, 1, 5, 63, 87, 283, 4, 0]

In [ ]:
def bubbleSort(array):

  print(array)
  tmp = 0

  for i in range(len(array)-1, 0, -1):
  
    for j in range(i):
  
      # Swap Numbers
      if array[j] > array[j+1]:
  
        tmp = array[j+1]
        array[j+1] = array[j]
        array[j] = tmp
        
    print(array)

In [ ]:
numbers_sorted = bubbleSort(numbers)

[99, 44, 6, 2, 1, 5, 63, 87, 283, 4, 0]
[44, 6, 2, 1, 5, 63, 87, 99, 4, 0, 283]
[6, 2, 1, 5, 44, 63, 87, 4, 0, 99, 283]
[2, 1, 5, 6, 44, 63, 4, 0, 87, 99, 283]
[1, 2, 5, 6, 44, 4, 0, 63, 87, 99, 283]
[1, 2, 5, 6, 4, 0, 44, 63, 87, 99, 283]
[1, 2, 5, 4, 0, 6, 44, 63, 87, 99, 283]
[1, 2, 4, 0, 5, 6, 44, 63, 87, 99, 283]
[1, 2, 0, 4, 5, 6, 44, 63, 87, 99, 283]
[1, 0, 2, 4, 5, 6, 44, 63, 87, 99, 283]
[0, 1, 2, 4, 5, 6, 44, 63, 87, 99, 283]

### Insert Sort

In [ ]:
numbers = [99, 44, 6, 2, 1, 5, 63, 87, 283, 4, 0]

In [ ]:
def selectionSort(array):
  
  print(array)
  tmp = 0
  
  for i in range(len(array)-1):
    idx = i
    
    for j in range(i, len(array) -1):

      #Swap numbers
      if array[idx] > array[j+1]:

        idx = j+1

    tmp = array[i]
    array[i] = array[idx]
    array[idx] = tmp
  
    print(array)

In [ ]:
selectionSort(numbers)

[99, 44, 6, 2, 1, 5, 63, 87, 283, 4, 0]
[0, 44, 6, 2, 1, 5, 63, 87, 283, 4, 99]
[0, 1, 6, 2, 44, 5, 63, 87, 283, 4, 99]
[0, 1, 2, 6, 44, 5, 63, 87, 283, 4, 99]
[0, 1, 2, 4, 44, 5, 63, 87, 283, 6, 99]
[0, 1, 2, 4, 5, 44, 63, 87, 283, 6, 99]
[0, 1, 2, 4, 5, 6, 63, 87, 283, 44, 99]
[0, 1, 2, 4, 5, 6, 44, 87, 283, 63, 99]
[0, 1, 2, 4, 5, 6, 44, 63, 283, 87, 99]
[0, 1, 2, 4, 5, 6, 44, 63, 87, 283, 99]
[0, 1, 2, 4, 5, 6, 44, 63, 87, 99, 283]

## Insertion Sort

In [ ]:
numbers = [99, 44, 6, 2, 1, 5, 63, 87, 283, 4, 0]

In [ ]:
def insertionSort(array):

  for i in range(0, len(array)):

    print(i)
    if array[i] < array[0]:

      print(array[i])
      array = [array[i]] + list(array[0:i]) + list(array[i+1:])

    elif array[i] < array[i-1]:
      print('second')
      print(array[i])

      for j in range(i+1):

        if array[i] < array[j]:
          array = array[0:j] + [array[i]] + array[j:i] + array[i+1:]

    print(array)

In [ ]:
insertionSort(numbers)

0
[99, 44, 6, 2, 1, 5, 63, 87, 283, 4, 0]
1
44
[44, 99, 6, 2, 1, 5, 63, 87, 283, 4, 0]
2
6
[6, 44, 99, 2, 1, 5, 63, 87, 283, 4, 0]
3
2
[2, 6, 44, 99, 1, 5, 63, 87, 283, 4, 0]
4
1
[1, 2, 6, 44, 99, 5, 63, 87, 283, 4, 0]
5
second
5
[1, 2, 5, 6, 44, 99, 63, 87, 283, 4, 0]
6
second
63
[1, 2, 5, 6, 44, 63, 99, 87, 283, 4, 0]
7
second
87
[1, 2, 5, 6, 44, 63, 87, 99, 283, 4, 0]
8
[1, 2, 5, 6, 44, 63, 87, 99, 283, 4, 0]
9
second
4
[1, 2, 4, 5, 6, 44, 63, 87, 99, 283, 0]
10
0
[0, 1, 2, 4, 5, 6, 44, 63, 87, 99, 283]

In [ ]:
temp = [1, 2, 6, 44, 99, 5, 63, 87, 283, 4, 0]

In [ ]:
i = 5

In [ ]:
j = 2

In [ ]:
temp[i]

5

In [ ]:
temp[j]

6

In [ ]:
temp[0:j] + [temp[i]] + temp[j:i] + temp[i+1:]

[1, 2, 5, 6, 44, 99, 63, 87, 283, 4, 0]

## Merge Sort